
h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:0.5rem;
}
.formInputs{
    padding:0.5rem;
}
.demoForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
}